openapi: 3.0.0
info:
  title: Social Network API
  version: 1.0.0
  description: API спецификация для социальной сети путешественников.
servers:
  - url: http://social-network.dev/v1
    description: Основной сервер
tags:
  - name: User
    description: Управление пользователями
  - name: Posts
    description: Управление постами
  - name: Comments
    description: Управление комментариями
  - name: Likes
    description: Управление лайками
  - name: Feed
    description: Лента постов
paths:
  /feed:
    get:
      summary: Получение ленты постов
      tags: [Feed]
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Список постов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '400':
          description: Неверный запрос
        '401':
          description: Неавторизован
        '500':
          description: Внутренняя ошибка сервера
  /posts:
    post:
      summary: Создание нового поста
      tags: [Posts]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewPost'
      responses:
        '201':
          description: Пост успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Неверный запрос
        '401':
          description: Неавторизован
        '500':
          description: Внутренняя ошибка сервера
  /posts/{postId}:
    get:
      summary: Получение поста по ID
      tags: [Posts]
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали поста
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Неверный запрос
        '401':
          description: Неавторизован
        '404':
          description: Пост не найден
        '500':
          description: Внутренняя ошибка сервера
  /posts/{postId}/comments:
    get:
      summary: Получение комментариев к посту
      tags: [Comments]
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Список комментариев
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
        '400':
          description: Неверный запрос
        '401':
          description: Неавторизован
        '404':
          description: Пост не найден
        '500':
          description: Внутренняя ошибка сервера
    post:
      summary: Добавление комментария к посту
      tags: [Comments]
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewComment'
      responses:
        '201':
          description: Комментарий успешно добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: Неверный запрос
        '401':
          description: Неавторизован
        '500':
          description: Внутренняя ошибка сервера
  /posts/{postId}/like:
    put:
      summary: Лайк поста
      tags: [Likes]
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Лайк успешно поставлен
        '400':
          description: Неверный запрос
        '401':
          description: Неавторизован
        '500':
          description: Внутренняя ошибка сервера
  /users:
    post:
      summary: Регистрация нового пользователя
      tags: [User]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistration'
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Неверный запрос
        '409':
          description: Конфликт (пользователь с таким email уже существует)
        '500':
          description: Внутренняя ошибка сервера
  /users/login:
    post:
      summary: Вход пользователя
      tags: [User]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Неверный запрос
        '401':
          description: Неверный email или пароль
        '500':
          description: Внутренняя ошибка сервера
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        email:
          type: string
    Post:
      type: object
      properties:
        id:
          type: string
        user:
          $ref: '#/components/schemas/User'
        content:
          type: string
        media:
          type: array
          items:
            type: string
        geoTag:
          type: string
        createdAt:
          type: string
          format: date-time
    NewPost:
      type: object
      properties:
        content:
          type: string
        media:
          type: string
          format: binary
        geoTag:
          type: string
    Comment:
      type: object
      properties:
        id:
          type: string
        postId:
          type: string
        user:
          $ref: '#/components/schemas/User'
        content:
          type: string
        createdAt:
          type: string
          format: date-time
    NewComment:
      type: object
      properties:
        content:
          type: string
    UserRegistration:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        password:
          type: string
    UserLogin:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
    AuthResponse:
      type: object
      properties:
        token:
          type: string